<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
  
</head>
<body>

	
  <form action="submit" method="post" style="margin-left: 500px;margin-top: 150px" enctype="multipart/form-data">
  	
  	Name:<input type="text" name="name" placeholder="enter name"><br><br>
      
  	Email:<input type="email" name="email" placeholder="enter email"><br><br>

    Profile_pic:<input type="file" name="pic"><br><br>
     
	     
  	<input style="background-color: green;color: yellow" type="submit" value="submit">
  	
  </form>
    
</body>
</html>